/* Variable declaration */
:root {
  --default-color: #f2f6d0;
  --container-color: #c0a9b0;
  --button-letter-color: #fff;
  --hover-color: #7160dee6;
  --text-color: #434343;
  --font-sm: 300;
  --font-md: 400;
  --font-lg: 500;
  --font-xlg: 700;
}

/* ******** Global Reset **********/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto Mono", monospace;
  line-height: 1;
  font-weight: var(--font-md);
  color: var(--text-color);
  background-color: var(--default-color);
  box-sizing: border-box;
}
/* **************************** */

.primary-heading {
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
  display: flex;
  font-weight: var(--font-xlg);
  font-size: 6.4rem;
  color: var(--text-color);
  text-decoration: underline;
  padding-top: 5rem;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
}

/* Icon styling */
.gg-games {
  display: block;
  width: 24px;
  height: 12px;
  scale: 2;
}

.container {
  margin: 10rem auto;
  height: 60rem;
  width: 50rem;
  background-color: var(--container-color);
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  justify-content: center;
  z-index: 0;
  position: relative;
}

.welcome {
  padding: 4rem;
  text-align: center;
  font-size: 2.4rem;
  line-height: 1.2;
}

.welcome-msg {
  font-weight: var(--font-xlg);
  margin-bottom: 5rem;
}

.select-game {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

/* Button styling */
.btn {
  width: 35rem;
  color: var(--button-letter-color);
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
  font-weight: var(--font-sm);
  letter-spacing: 1px;
  padding: 1.3rem 3.5rem 1.3rem;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

.btn::after {
  content: "";
  background-color: var(--hover-color);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: all 0.2s;
}

.btn:hover::after {
  top: 0;
  left: 0;
}

/* Footer */
footer {
  margin: 35rem auto 0;
  border-top: 1px solid #262222;
}

.copyright {
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
  padding: 2.5rem;
}

/* Media querries */
@media (max-width: 650px) {
  .primary-heading {
    font-size: 4rem;
    gap: 4rem;
  }
  .gg-games {
    display: block;
    width: 24px;
    height: 12px;
    scale: 1.6;
  }

  .container {
    margin: 7rem auto;
    height: 50rem;
    width: 35rem;
  }

  .welcome {
    font-size: 2rem;
    padding: 3rem;
  }

  .welcome-msg {
    margin-bottom: 3.5rem;
  }

  .select-game {
    gap: 3.2rem;
  }

  .btn {
    width: 20rem;
    font-size: 1.6rem;
  }

  footer {
    margin: 35rem auto 0;
  }

  .copyright {
    font-size: 1.1rem;
  }
}

@media (max-width: 450px) {
  .primary-heading {
    font-size: 3.2rem;
    gap: 3.2rem;
  }
  .gg-games {
    display: block;
    width: 24px;
    height: 12px;
    scale: 1.4;
  }

  .container {
    margin: 5rem auto;
    height: 40rem;
    width: 28rem;
  }

  .welcome {
    font-size: 1.6rem;
    padding: 2rem;
  }

  .welcome-msg {
    margin-bottom: 2.5rem;
  }

  .select-game {
    gap: 2.6rem;
  }

  .btn {
    width: 15rem;
    font-size: 1rem;
  }

  footer {
    margin: 35rem auto 0;
  }

  .copyright {
    font-size: 1rem;
  }
}
